/* WELCOME HEADER */
.welcome-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcome-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15px;
  top: 40%;
  text-align: start;
  width: 50%;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
}

.welcome-message p {
  font-size: 2vmin;
  margin-left: calc(30% - 115px);
}

.welcome-message-header {
  font-size: calc(15px + 2vmin);
  margin-left: calc(30% - 115px);
}

.portrait {
  width: 50%;
  height: 60vh;
  position: absolute;
  display: block;
  right: 0%;
  object-fit: contain;
}

.portrait-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 950px) {
  .portrait {
    height: 50vw;
  }
  .welcome-message p {
    margin-left: 0;
  }
  .welcome-message-header {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .welcome-message p {
    font-size: 1.75vmin;
  }

  .welcome-message-header {
    font-size: calc(10px + 2vmin);
  }
  .welcome-message {
    top: 42%;
  }
}

/* DROPDOWN MENU */
.dropdown-menu {
  height: 75px;
  width: 100%;
  background-color: #000;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-sizing: border-box;
}

.dropdown-menu-item {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  outline: 2px solid white;
  transition: background-color 0.3s ease-in;
  color: white;
  font-size: 22px;
  font-weight: bold;
  box-sizing: border-box;
}

.dropdown-menu-item:hover {
  background-color: #ceb888aa;
}

@media (max-width: 650px) {
  .dropdown-menu-item {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .dropdown-menu {
    height: 55px;
  }

  .dropdown-menu-item {
    font-size: 12px;
  }
}

/* MY STORY */
.my-story {
  height: auto;
  min-height: 300px;
  width: 100%;
  display: block;
  position: relative;
  background-color: #ceb888;
}

.my-story h1 {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-left: calc(10% - 20px);
  padding-bottom: 40px;
  box-sizing: border-box;
  text-align: start;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
}

.my-story p {
  max-width: 100%;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 0;
  box-sizing: border-box;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px;
  font-size: 22px;
  line-height: 1.6;
}

.my-story a {
  color: #000;
}

.more-link {
  font-size: 18px;
  padding-bottom: 120px;
}

.more-link a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.more-link a:hover {
  color: #fff;
}

.more-link a span {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.more-link a:hover span {
  transform: translateX(5px);
}

/* PROJECTS */
.projects {
  height: auto;
  min-height: 300px;
  width: 100%;
  display: block;
  position: relative;
  color: #fffe;
  background-color: #555;
}

.projects h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-right: 15%;
  padding-bottom: 40px;
  box-sizing: border-box;
  text-align: end;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px;
}

.projects p {
  max-width: 100%;
  margin-left: 10%;
  margin-right: 25%;
  margin-bottom: 0;
  box-sizing: border-box;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
  font-size: 22px;
  line-height: 1.6;
}

.projects a {
  color: #fff;
}

.projects a:hover {
  color: #000b;
}

.project-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.project-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.project-title {
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 0px;
  padding-left: calc(10% + 20px);
  padding-right: calc(10% + 20px);
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: start;
  font-size: 27px;
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
  text-decoration: underline;
}

.project-description {
  width: 50%;
  margin-left: 10% !important;
  margin-right: 10% !important;
  align-self: center;
}

.image-container {
  position: relative;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.project-thumbnail {
  width: 80%;
  border-radius: 12px;
  border: 3px solid #222b;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.project-thumbnail:hover {
  border: 3px solid #8888;
}
